#containerProfile {
  display: flex;
  justify-content: center;
  /* transform: translateY(100px); */
  background-color: rgb(228, 228, 240);
  padding: 30px;
  padding-bottom: 110px;
  line-height: 40px;
  background-image: url(/images/receipt.jpg);
  box-shadow: 0px 17px 5px 49px rgba(41, 44, 88, 0.6);

}

#formLink {
  display: flex;
  justify-content: center;
  margin: 10%;
  flex-direction: column;
}

.formLinks {
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 7vw;
  padding: 10px;
  border-style: solid;
  border-radius: 30px;
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.295);
}



.bottomStyle {
  border-top-left-radius: 0;
}
.topStyle {
  border-bottom-right-radius: 0;
}

.formLinks:hover {
  background-color: rgba(0, 183, 255, 0.349);
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.534);
  text-decoration: none;
}

#border-receipt {
  padding-left: 0;
  padding-right: 0;
  border-style: dashed;
  border-left: 0px;
  border-right: 0px;
  border-color: rgb(0, 0, 0);
  border-width: 7.2px;
  transform: translateY(100px);

}

#submitC {
  display: flex;
  justify-content: center;
  transform: translateY(2px);
  font-size: 50px;
}

.navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
  /* top: 0; */
  backdrop-filter: blur(3.8px);
}

.topNav {
top: 0;
line-height: 40px;
}

.navItems {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 25px;
}

.fas {
  margin-right: 12%;
}

.navText {
  font-size: 6vw;
  color: white;
}

.navText:hover {
  color: rgba(255, 255, 255, 0.5)
}


/* .blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100vh;
} */

.userInfo {
  margin: 6px;
  margin-right: 40px;
}

.navbar-brand {
  font-size: 2em;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: white;
}

#welcome {
  margin-top: 56px;
  font-size: 5vw;
}

.btn-primary {
  color: rgb(226, 21, 21);
  background-color: #B66189;
  border-color: #17cc3e;
}

.navbar-light .navbar-brand {
  color: rgba(255, 112, 112, 0.9);
}

.bg-dark {
  background-color: #026feb8c !important;
}

body {
  margin: 0;
}

.background {
  background-image: url("../images/wallpaper.png");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  filter: blur(4px);
  bottom: 0;
  position: fixed
}



.container {
  background-color: #B6B6B6;
}

.colorwelcome {
  display: block;
  width: 100vw;
  background-color:#201e80;
}

.colorcoverage {
  color: #111C26;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: center;
}

.colorcoverage2 {
  color: #111C26;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
}

.jumbotron {
  background-color: white;
}

#contentContainer {
margin: 10%;
margin-bottom: 0;
margin-top: 40px;
display: flex;
flex-direction: column;
}

.bottomPadding {
  margin-bottom: 15%;
}

.textShadow {
  text-shadow: -4px 5.4px 3px rgba(41, 44, 88, 0.6);
}

.optionContainer {
  background-color:#026febcb;
  border-radius: 30px;
  padding-top: 15px;
  border-style: solid;
  border-color: rgba(66, 0, 66, 0.986);
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.6);
}

.listContainer {
  /* background-color: #ffffff8a; */
  background-color: #ffffff;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 40px;
}

#homeText {
  background-color: white;
  margin: 50px;
  margin-top: 0;
  padding: 50px;
  border-radius: 55px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
  text-align: justify;
  line-height: 25px;
  border-style: solid;
  font-size: 17px;
  padding-bottom: 20px;
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.6);
}

#blueCard {
  background-color:#026febcb;
  height: 30px;
  margin: 50px;
  margin-bottom: 0;
  height: 80px;
  border-style: solid;
  border-radius: 55px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}


#successText {
  background-color: white;
  margin: 10%;
  padding: 50px;
  border-radius: 55px;
  border-bottom-left-radius: 0;
  text-align: center;
  line-height: 8vw;
  border-style: solid;
  font-size: 20px;
  padding-bottom: 20px;
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.295);
}

#loginScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#bigS {
  font-size: 13vw;
  margin-bottom: 80px;
  border-radius: 15px;
  text-align: center;
  border-style: solid;
  box-shadow: -15px 20px 5px rgba(41, 44, 88, 0.6);
  padding-top: 40px;
  padding-bottom: 40px;
  border-color: black;
  color: white;
  background-color: rgb(0, 195, 255);
}

#FAQ {
  background: white;
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 60px;
  border-top-left-radius: 60px;
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.6);
  border-style: solid;
  border-bottom: 0px;
}

#toInfo {
  background: white;
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 60px;
  text-align: center;
  border-bottom-right-radius: 60px;
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.6);
  border-style: solid;
  border-top: 0px;
}

#Section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

#optionalCoverageContainer {
  margin-top: 50px;
}

#backHome {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  font-size: 6vw;
  margin-right: 10%;
  margin-left: 10%;
  border-style: solid;
  border-radius: 50px;
  border-top-left-radius: 0px;
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.295);
}

#backHome:hover {
  background-color: rgba(0, 183, 255, 0.349);
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.534);
}

#noLine {
  text-decoration: none;
}

.unchangeable {
  background-color: white;
  margin-bottom: -40px;
  padding: 1px 2px;
  border-width: 2px;
    border-style: solid;
    border-width: 0.1px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/*--------------------------------------*/
/* Customizing some font awesome icons  */
/*--------------------------------------*/

#myfooter{
  height: 70px;

}

.fa-shopping-cart {
  font-size: 30px;
  color:rgb(238, 131, 131);
}

.fa-home{
  font-size: 2.5em;
  color:white;
}

.fa-car-side {
  font-size: 2.5em;
  color:white;
}

.fa-question-circle{
  font-size: 2.5em;
  color:white;
}

.fa-user{
  font-size: 2.5em;
  color:white;
}

@media (min-width: 992px) {
  #welcome {
    margin-top: 122px;
  }

  .navText {
    display: none;
  }
}
