#containerProfile {
  display: flex;
  justify-content: center;
  transform: translateY(100px);
}

.navbar {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(3.8px);
}

/* .blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100vh;
} */

.userInfo {
  margin: 6px;
  margin-right: 40px;
}

.navbar-brand {
  font-size: 2em;
  font-family: 'Big Shoulders Stencil Display', cursive;
  color: white;
}

#welcome {
  margin-top: 56px;
}

.btn-primary {
  color: rgb(226, 21, 21);
  background-color: #B66189;
  border-color: #17cc3e;
}

.navbar-light .navbar-brand {
  color: rgba(255, 112, 112, 0.9);
}

.bg-dark {
  background-color: #026feb8c !important;
}

body {
  margin: 0;
}

.background {
  background-image: url("../images/wallpaper.png");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  filter: blur(4px);
  bottom: 0;
  position: fixed
}



.container {
  background-color: #B6B6B6;
}

.colorwelcome {
  display: block;
  width: 100vw;
  background-color:#201e80;
}

.colorcoverage {
  color: #111C26;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: center;
}

.colorcoverage2 {
  color: #111C26;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
}

.jumbotron {
  background-color: white;
}

#contentContainer {
margin: 10%;
margin-top: 40px;
display: flex;
flex-direction: column;
}

.textShadow {
  text-shadow: -4px 5.4px 3px rgba(41, 44, 88, 0.6);
}

.optionContainer {
  background-color:#026febcb;
  border-radius: 30px;
  padding-top: 15px;
  border-style: solid;
  border-color: rgba(66, 0, 66, 0.986);
  box-shadow: -14px 17px 5px rgba(41, 44, 88, 0.6);
}

.listContainer {
  /* background-color: #ffffff8a; */
  background-color: #ffffff;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 40px;
}

#optionalCoverageContainer {
  margin-top: 50px;
}

/*--------------------------------------*/
/* Customizing some font awesome icons  */
/*--------------------------------------*/

.fa-shopping-cart {
  font-size: 30px;
  color:rgb(238, 131, 131);
}

#myfooter.fa-home{
  font-size: 2em;
  color:brown;
}

.fa-anchor {
  color: red;
}

@media (min-width: 992px) {
  #welcome {
    margin-top: 132px;
  }
}
